*{
    box-sizing: border-box;
  }
      body{
        margin:0;
        font-family:Arial, Helvetica, sans-serif;
        background:#dad2f4;
        color:rgb(98, 69, 177);
        line-height:1.7;
      }
  
      /*header{
        background:#d2b3f4;
        padding:20px;
        text-align:center;
        position:sticky;
        top:0;
      }*/
      header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        background: #d1b3f3;
        backdrop-filter: blur(10px);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      }

      header a{
        color:#9869f0;
        text-decoration:none;
        font-weight:bold;
      }
  
      section{
        padding:100px 10%;
      }
  
      h1{
        font-size:55px;
        color:#9869f0;
      }
  
      img{
        width:100%;
        max-width:700px;
        border-radius:15px;
        margin-top:30px;
      }
      
         footer {
        background: #d1b3f3;
        padding: 30px;
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        color: #9869f0;
      }